{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    <title>{% if form.instance.pk %}Edit{% else %}Create{% endif %} Test</title>
{% endblock %}

{% block header %}
    <h1>{% if form.instance.pk %}Edit{% else %}Create{% endif %} Test</h1>
{% endblock %}

{% block content %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form|crispy }}

    <h3>Questions</h3>

    {{ questions.management_form }}

    {% for form in questions %}

      <div class="formset-row">
        {{ form|crispy }}

        {% if form.instance.pk %}

          <h4>Answers</h4>

          {% for answer_form in form.answer_set.all %}
            {{ answer_form|crispy }}

          {% endfor %}

        {% endif %}

      </div>
    {% endfor %}

    <button type="submit" class="btn btn-success">Save</button>
  </form>
{% endblock %}
